body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    text-align: left;
    background-color:rgb(98, 147, 147);  
    padding: 0.2%;
    margin: auto;
    text-wrap: auto;
}

ul li {
    display: flex;
}


