body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: left;
    background-color: teal;
}

